@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');

.all {
  margin: 20px 30px;
  justify-content: space-evenly;
  display: flex;
  
  font-family: 'Quicksand', sans-serif;
  font-size: 17px;
  color: white;
}
