.all {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 5%;
}

.card {
  /* border-style: solid;
  border-radius: 10%;
  border-color: black;
  background-color: #f1f4ffff; */
  width: 30%;
  height: auto;
}

.overlay {
  opacity: 0;
  position: absolute;
  top: 290%;
  text-align: center;
  width: 26%;
}

.card:hover img {
  opacity: 0.05;
  backface-visibility: hidden;
  transition: 0.5s ease;
}

.card:hover .overlay {
  opacity: 1;
}

.first {
  width: 100%;
}

img.first {
  height: 300px;
  object-fit: contain;
}
