@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');

.w3-large {
  font-family: 'Quicksand', sans-serif;
}

.topleft {
  top: 8px;
  left: 16px;
  font-size: 18px;
  /* opacity: 0.5; */
}

.linksParentDiv {
  height: 450px;
  padding: 10px;
  background-color: black;
  overflow: hidden;
  z-index: 1;
}

.linksParentDiv img {
  height: 450px;
  position: absolute;
  z-index: 0;
  margin: -10px;
  width: auto;
  overflow: hidden;
}

.linksParentDiv h1 {
  color: white;
  font-family: "Quicksand", sans-serif;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: -1px;
  position: relative;
  text-align: center;
  z-index: 1;
  padding-top: 30%;
  padding-bottom: 50%;
}

a.blueHighlight {
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 50%,
    rgb(144, 215, 241) 50%
  );
  background-position: -0% 0;
  background-size: 200% auto;
  line-height: 1.15em;
  text-decoration: none;
  transition: background-position 0.5s ease-out;
}
a.yellowHighlight {
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 50%,
    rgb(250, 176, 60) 50%
  );
  background-position: -0% 0;
  background-size: 200% auto;
  line-height: 1.15em;
  text-decoration: none;
  transition: background-position 0.5s ease-out;
}
a:hover {
  background-position: -99.99% 0;
}