@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');

.navbar {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    padding-right: 2rem;
    align-items: center;
}

.logo {
    width: 100px;
    height: 50px;
    transition: transform 0.3s;
    cursor: pointer;
}

.logo:hover {
    transform: scale(1.1);
}

.tab {
    text-decoration: none;
    width: auto;
    margin: 0.5rem;
    transition: 0.3s;
    padding:0.5rem;
    cursor: pointer;

    /* Change font here */
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    color: black;
}

.tab:hover {
    color: white;
    background-color: #38b2ac;
    transform: scale(1.1);
}

.login {
    height: 2.2rem;
    display: inline-block;
    text-align: center;
    color: white;
    background-color: #38b2ac;
    transition: transform 0.3s;

    /* Change font here */
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    color: black;
}

.login:hover {
    background-color: #F7A12F;
    transform: scale(1.1);
}

.profile {
    border-radius: 99999999999px; 
    height: 2.5rem;
    width: 2.5rem;
    transition: transform 0.3s;
    cursor: pointer;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.profile:hover {
    transform: scale(1.1);
}