h1.typing {
  color: white;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 75px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
}

.typingParentDiv {
  height: 450px;
  width: 100%;
  padding: 10px;
  background-color: black;
  overflow: hidden;
}

.typingParentDiv img {
  height: 450px;
  position: absolute;
  z-index: 0;
  margin: -10px;
}

.typingParentDiv h1 {
  padding-top: 5%;
  position: relative;
  z-index: 1;
}
