@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@600&display=swap");

:root {
  --turquoise: #0fa3b1;
  --orange: #ff9b42;
  --navy: #38618c;
  --yellow: #aa993a;
  --green: #e4fde1;
  --white: #ffffff;
  --black: #232121;
}

h1.main_title {
  font-family: "Work Sans", sans-serif;
  color: #38618c;
  font-size: 90px;
  margin-top: 150px;
  margin-bottom: 20px;
  font-weight: 900;
  text-shadow: 0px 1px, 1px 0px, 1px 0px;
}

p.main_title {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #38618c;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 175px;
  margin-right: 175px;
  max-width: 20;
  font-size: 14.5px;
}

img.main_title {
  position: absolute;
  top: 80px;
  left: 80px;
}

button.main_title {
  border: solid 2.3px var(--navy);
  padding: 14px 28px;
  border-radius: 50px;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  color: var(--navy);
  font-size: 15px;
}

button.main_title:hover {
  background-color: var(--navy);
  color: var(--white);
  transition-delay: 0.1s;
}

h1.secondary_title {
  font-family: "Work Sans", sans-serif;
  color: white;
  font-size: 45px;
  text-align: center;
}

img.secondary_title_right {
  float: right;
  margin-top: 28px;
  margin-right: 80px;
  vertical-align: middle;
}

h2.secondary_title {
  font-family: "Work Sans", sans-serif;
  color: #e4fde1;
  font-size: 34px;
  text-align: left;
  margin-left: 175px;
}

p.secondary_title {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 175px;
  margin-right: 175px;
  max-width: 20;
  font-size: 14.5px;
  text-align: left;
}

a.secondary_title {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: white;
  font-size: 14.5px;
  text-decoration: solid 1.5px;
}

a.secondary_title:hover {
  text-decoration: none;
  transition-delay: 0.1s;
  text-decoration: underline;
}

img.info_sessions {
  float: left;
  height: 100%;
  margin-top: 30px;
}

.h1 {
  font-family: "Work Sans", sans-serif;
  color: var(--black);
  font-size: 45px;
}

.h2 {
  font-family: "Work Sans", sans-serif;
  color: var(--black);
  font-size: 34px;
}

.h3 {
  font-family: "Work Sans", sans-serif;
  color: var(--black);
  font-size: 24px;
}

.p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: var(--black);
  font-size: 14.5px;
}

.button {
  border: solid 2.3px var(--navy);
  padding: 14px 28px;
  border-radius: 50px;
  text-align: center;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  color: var(--navy);
  font-size: 15px;
}

.button:hover {
  background-color: var(--navy);
  color: var(--white);
  transition-delay: 0.1s;
}

.link {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: var(--black);
  font-size: 14.5px;
  text-decoration: solid 1.5px underline;
}

.link:hover {
  text-decoration: none;
  transition-delay: 0.1s;
}

/* 

Additional margins

margin between images/objects (3 images in a row, cards, social media icons etc.): 40px
margin between image and text when horizontal (i.e. here's what we do, merch image and text): 75px
margin between image and body text when vertical (i.e upcoming events, officers): 13px
margin between page headers and body text: 20px
margin between headers and body text/images (i.e. on home page- upcoming events, companies we've worked with): 28px 
margin between text on merch page: 30px
margin between arrow icon and text (home page, resources page): 10px
margin between page sections: 110px
side margins (between content and end of screen): 80px
side margins for offerings on home page: 110px

*/
